*{
}
.h1{
	font-size:40px;
	font-weight: 400;
}
.p{
	font-size: 25px;
	font-weight: 500;
	text-align: justify;
	font-family: 'Lato', sans-serif;
}
.content{
	font-size: 22px;
	
}
.link{
	text-decoration: none;
}
.net{
	color: red;
}
.name{
	border: 2px solid black;
	text-align: center;
	height: 30px;
	background-color: #ddd;
	color: #ddd;

}
.name::placeholder {
  color:black;
  font-size: 16px;
  font-weight: 600;
}
.btn{
	padding: 10px 30px;
	font-size: 18px;
	border: 2px solid black;
	background: #ddd;
	color: black;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
}
.btn-1{
	padding: 10px 30px;
	font-size: 18px;
	border: 2px solid black;
	background: #000;
	color: white;
	font-weight: 600;
	font-family: 'Lato', sans-serif;

}
table{
	width: 50%;
}
th{
	padding: 15px;
}
table,th,td{
	border: 1px solid black;
}
 td{
 		text-align: center;
    	height:40px;
}
tr{
      background-color:#DDDDDD;
      color:black;
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
}
th{
      background-color:#535c68;
       color:#fff;
 }  
    